body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color: #151b29;
}

button{
    background: none;
    border:2px solid;
    color: #ffa260;
    padding: 1em 2em;
    font-size: 1em;
    transition: box-shadow 0.2s, transform 0.2s ease-in, border-color 0.2s;
}
button:hover{
    border-color: #f1ff5c;
    color:white;
    cursor: pointer;
    transform: translateY(-0.25em);
    box-shadow: 0px 0.5em 0.5em -0.4em #f1ff5c;
}