<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello there' %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti est officia, obcaecati quo id omnis
        amet similique ea corrupti delectus hic, dicta error voluptatibus harum, fugiat eaque eius. Recusandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem placeat laborum doloremque impedit! Provident
        sapiente incidunt ratione ea rem, sequi dicta dolorem et illum. Cupiditate optio dolor aspernatur adipisci esse.
    </p>
</body>

</html>